<!--  -->
  <div class="hero-unit-norm">
    <div class="container marketing">
      <div class="row-fluid">
        <div class="span12">
          <h1>We want to hear from you!</h1>
        </div>
      </div>
    <hr class="soften">
    </div>
  </div>

      <div class="container">    
        <div class="row-fluid marketing">
          <div class="span6 columns">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="hero-unit-blue">
              <address>
                <h2><b>Name Here</b></h2>
                <h3>Open: Monday - Saturday</h3>
                <h3>Office Hours: 8:00AM - 8:00PM (MST)</h3>
                <h3>Office Number: </h3>
                <h3>Email:</h3>
              </address>
            </div>
          </div>
          <div class="span6 columns text-center">
          <%= form_for @message, :url => contact_path do |form| %>
          <fieldset class="fields span12 form-horizontal">
            <div class="row-fluid">
              <div class="span12">
                <div class="field">
                  <%= form.label :name %>
                  <%= form.text_field :name %>
                </div>
              </div>
            </div>

          <!--<div class="row-fluid">
            <div class="span12">
              <div class="field">
                <%= form.label :company %>
                <%= form.text_field :company %>
              </div>
            </div>
          </div>-->
              
          <div class="row-fluid">
            <div class="span12">
              <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">    
              <div class="field">
                <%= form.label :subject %>
                <%= form.text_field :subject %>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">    
              <div class="field">
                <%= form.label :message %>
                <%= form.text_area :body, :placeholder => "Please include your phone number, day to reach you, and AM or PM." %>

              </div>
            </div>
          </div>  
            
            
          <div class="row-fluid">
            <div class="span12">  
              <div class="actions text-center">
                <%= form.submit "Send", class: 'btn btn-large btn-inverse' %>
              </div>
            </div>
          </div>

          <% end %>
          </div>
          </fieldset>
        </div>
      </div>
    </div>